body {
  background-color: #e0e0e0;
}

.article-container{
  width: 100%;
}

.article {
  margin: 1rem auto;
  max-width: 600px;
  background-color: #fafafa;
}

.inline-block {
  display: inline-block;
}
